@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body {
  background-color: #21252f;
  overflow-x: hidden;
}

p {
  color: #FFF;
}

span {
  color: #FFF;
}

div {
  color: #FFF;
}

#__next {
  height: 100%;
}

.background {
  height: 100%;
  position: relative;
}

.index {
  background-color: #000;
  box-shadow: black 0 0 8px;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  width: 100%;
}

.login-form {
  border-radius: 13px;
  padding: 30px 25px 45px;
  width: 20%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  ul {
    list-style-type: none;
  }
}

.login-input {
  border-color: transparent;
  background-color: #e8f0fe;
  padding: 7px;
  &:focus-visible {
    outline: none !important;
  }
}

.wrapper .outer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .box{
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 1;
  justify-content: space-between;
}

#previousQuestion {
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  transform: translateY(-100%) scale(0.7);
}

.box .content{
  align-items: center;
}

.box .details{
  display: flex;
  justify-content: space-evenly;
}

.details span{
  font-weight: 600;
  font-size: 18px;
}

.box a:hover{
  transform: scale(0.94);
}